<strong>{{content}}</strong>
<form method="post" action="/api/answer">
    <textarea style="display: none" name="id">{{id}}</textarea>
    <input type="submit" name="answer" value="Yes">
    <input type="submit" name="answer" value="No">
</form>