.menu {
    background-color: #D5B0AC;
    line-height: 30px;
    text-align: center;
}
.menu span {
    font-weight: bold;
    color: #402E2A;
    display: inline-block;
    width: 100px;
    height: 30px;
}
.menu span:hover {
    color: #FFFFFF;
    background-color: #9CD08F;
    cursor: pointer;
}

.menu_vertical {
    display: inline-block;
}
.menu_vertical span {
    font-weight: bold;
    color: #402E2A;
    display: block;
    width: 100px;
    height: 30px;
    margin: 0px;
    border-color: white;
    border-top: 1px solid white;
}
.menu_vertical span:hover {
    color: #FFFFFF;
    background-color: #9CD08F;
    cursor: pointer;
}